<div class="wrapper">
	<h1>{{ title | titlecase }}</h1>

	<div class="main-content">
		<form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)" novalidate>
			<div class="task-input">
				<div class="form-group name">
					<mat-form-field appearance="fill" class="name">
						<mat-label>Task</mat-label>
						<input
							class="form-control"
							matInput
							name="taskName"
							[(ngModel)]="model.taskName"
							required
						/>
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field appearance="fill">
						<mat-label>Due Date</mat-label>
						<input
							class="form-control"
							matInput
							[matDatepicker]="picker"
							name="dueDate"
							[(ngModel)]="model.dueDate"
							required
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="picker"
						></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>

				<div class="form-group description">
					<mat-form-field appearance="fill" class="description">
						<mat-label>Description</mat-label>
						<textarea
							class="form-control"
							matInput
							name="description"
							[(ngModel)]="model.description"
							required
						></textarea>
					</mat-form-field>
				</div>

				<button
					class="submit"
					type="submit"
					mat-raised-button
					[disabled]="taskForm.invalid"
				>
					Add Task
				</button>
			</div>
		</form>
	</div>
</div>

<app-task-table [fieldId]="id"></app-task-table>

